@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Roboto";
}

#header {
  background-image: url(./img/header-img.svg);
  background-size: cover;
}

.header-container {
  background-image: url(./img/header-blackout.svg);
  background-size: cover;
  padding: 35px 0 65px;
}

.container {
  width: 60%;
  margin: auto;
  position: relative;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-logo {
  cursor: pointer;
}

.header-nav {
  margin-left: auto;
  padding-right: 30px;
  display: flex;
  align-items: center;
}

.header-number {
  width: 239px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}

#menu__toggle {
  opacity: 0;
  position: fixed;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>.menu-span {
  transform: rotate(-45deg);
  top: 50%;
}

#menu__toggle:checked~.menu__btn>span::after {
  position: fixed;
  top: -10000%;
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  right: 0;
}

#menu__toggle:checked~.menu__btn {
  position: fixed;
  top: 40px;
  right: 40px;
}

.menu__btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 20px;
  right: 20px;
  width: 38px;
  height: 28px;
  cursor: pointer;
  z-index: 3;
}
.menu__btn:hover span {
  background: #FFC50E;
}

.menu__btn:hover span::after {
  background: #FFC50E;
}

.menu__btn>span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition-duration: .25s;
  margin-bottom: 12px;
}

.menu__btn>span::after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #FFFFFF;
  bottom: -7px;
  right: 0;
  transition-duration: .25s;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 543px;
  height: 100%;
  margin: 0;
  padding: 80px 0 0 100px;
  list-style: none;
  background-color: #000000;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 1;
  box-sizing: border-box;
}

.menu__item {
  display: block;
  padding: 12px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  text-decoration-line: underline;
  color: #FFC50E;
}

.menu-button {
  width: 220px;
  height: 44px;
  border: 1px solid #FFC50E;
  border-radius: 2px;
  background: transparent;
  margin: 395px 0 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFC50E;
}

.menu-button:hover {
  background: #FFC50E;
  color: #333333;
  text-decoration: none;
}

.header-header {
  padding: 168px 0 77px;
}

.header-header h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 42px;
}

.header-header h2 span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.02em;
  color: #77b82a;
}

.header-header p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  position: relative;
  padding-left: 60px;
}

.header-header p img {
  width: 55px;
  position: absolute;
  top: 3px;
  left: 0;
}

.header-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button-first {
  width: 220px;
  height: 44px;
  background: #ffc50e;
  border-radius: 2px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  color: #333333;
}

.header-button-first:hover {
  background: #ff9900;
}

.header-button-second {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 0 auto 0 30px;
  box-sizing: border-box;
  width: 220px;
  height: 44px;
  border: 1px solid #ffc50e;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  color: #ffc50e;
  cursor: pointer;
}

.header-button-second span {
  width: 18px;
  height: 20px;
  background-image: url(./img/pdf.svg);
  margin-left: 10px;
}

.header-button-second:hover {
  background: #FFC50E;
  color: #333333;
}

.header-button-second:hover span {
  background-image: url(./img/pdf-hover.svg);
}

.link {
  background: url(./img/link.svg);
  display: block;
  width: 191px;
  height: 102px;
}

.link:hover {
  background-image: url(./img/link-hover.svg);
}

.header-dashed {
  opacity: 0.7;
  border: 1px dashed #ffffff;
  margin: 157px 0 68px;
}

.header-content {
  display: flex;
  justify-content: space-around;
}

.header-content-text {
  display: flex;
  height: 40px;
}

.icon {
  height: 40px;
  background-repeat: no-repeat;
}

.icon-first {
  background-image: url(./img/tree.svg);
}

.icon-first:hover {
  background-image: url(./img/tree-hover.svg);
}

.icon-second {
  background-image: url(./img/house.svg);
}

.icon-second:hover {
  background-image: url(./img/house-hover.svg);
}

.icon-third {
  background-image: url(./img/shop.svg);
}

.icon-third:hover {
  background-image: url(./img/shop-hover.svg);
}

.icon-fourth {
  background-image: url(./img/map.svg);
}

.icon-fourth:hover {
  background-image: url(./img/map-hover.svg);
}

.header-content-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  position: relative;
  padding-left: 50px;
}